<!doctype html>
<html lang="en">
<head>
    <title>Create invoice</title>
    <meta charset="utf-8">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<style>
    #app{position: relative}
    .apploader{z-index: 9999; position: absolute; left: 50%;}
    .loaded{z-index: -9999; }
    label{padding: 0; margin: 0; text-align: center; line-height:35px;}
    h3{margin-top: 12px;}
    .mt-5{margin-top: 50px;}
    .top--135{top: -135px !important;}
    .animate1{position: relative; top: -30px; opacity: .0; z-index: -999; height: 0px; }
    .animate11{position: relative; top: -70px; opacity: 0; z-index: -999; height: 0px; }
    .animate2{position: relative; top: 0; opacity: 1;  -webkit-transition: opacity,top .6s; transition: opacity,top .6s; z-index: 1;  height: auto; }
    .animate22{position: relative; top: 0; opacity: 1;  -webkit-transition: opacity,top .5s; transition: opacity,top .5s; z-index: 1;  height: auto; }
    [v-cloak] { display: none; }
</style>

<body>

    <div id="app">
        <!--<div class="row">-->
        <!--<ul>-->
        <!--<li v-for="p in invoice.items">{{p}}</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<hr>-->
        <div class="container-fluid" v-cloak>
            <div class="row" >
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1>{{title}} <i class="fas fa-file-alt"></i></h1>
                    <hr>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="form-group animate1" :class="{'animate2': invoice.items.length > 0}" v-if="invoice.items.length > 0">
                        <button class="btn btn-primary btn-block" @click="onSubmit()" :disabled="loadingSubmit">
                            <span v-show="loadingSubmit">Creating invoice... <i class="fas fa-hourglass-end fa-spin fa-1x"></i></span>
                            <span v-show="!loadingSubmit">Create invoice <i class="fas fa-paper-plane fa-1x"></i></span>
                        </button>
                    </div>
                    <div class="form-group row">
                        <label for="client_name" class="col-md-3">client</label>
                        <div class="col-md-9"><input type="text" v-model="invoice.client.name" id="client_name" placeholder="client name" class="form-control"></div>
                    </div>
                    <div class="form-group row">
                        <label for="client_phone" class="col-md-3">phone</label>
                        <div class="col-md-9"><input type="phone" v-model="invoice.client.phone" id="client_phone" placeholder="phone" class="form-control"></div>
                    </div><!------------------------------------------>

                    <div class="form-group row animate1" :class="{'animate2': invoice.client.phone && invoice.client.name}">
                        <label for="item_model" class="col-md-3">Item</label>
                        <div class="col-md-9" :class="{'col-md-8': loading, 'col-md-9': !loading}">
                            <input type="text" v-model="newItem.model" @keyup.enter="requestItemByModel()" id="item_model" placeholder="Model number.. press enter"
                                   class="form-control" data-toggle="tooltip" data-placement="right" title="Tooltip on .."></div>
                        <p v-if="loading"><i class="fas fa-spinner fa-spin fa-2x"></i></p>
                    </div>

                    <div class="animate11" :class="{'animate22': newItem.price}">
                        <div class="form-group row" :class="{'animate2': invoice.client.model}">
                            <label for="description" class="col-md-3">description</label>
                            <div class="col-md-9"><input type="text" v-model="newItem.desc" id="description" placeholder="description" class="form-control col-md-8 item_model" disabled="disabled"></div>
                        </div>
                        <div class="form-group row">
                            <label for="price" class="col-md-3">price</label>
                            <div class="col-md-9"><input type="text" v-model="newItem.price" id="price" placeholder="price" class="form-control" disabled="disabled"></div>
                        </div>
                        <div class="form-group row">
                            <label for="quantity" class="col-md-3">quantity</label>
                            <div class="col-md-9"><input type="number" v-model="newItem.quantity" @keyup.enter="addProd()" id="quantity" placeholder="quantity" class="form-control" min="1"></div>
                        </div><!------------------------------------------>

                        <div class="form-group">
                            <button class="btn btn-success" @click="addProd()"
                                    :disabled="!newItem.model || !newItem.price || !newItem.quantity">
                                add product
                            </button>
                        </div>
                    </div>
                    <!--------------- INSURANCE --------------->
                    <div class="animate1" :class="{'animate2': invoice.items.length > 0, 'top--135': !newItem.model || !newItem.price || !newItem.quantity}"
                            style="width: 100%; height: 35px; overflow: hidden;">
                        <div class="form-group row">
                            <label for="insurance" class="col-md-3">Insurance</label>
                            <div class="col-md-9">
                                <select v-model="invoice.insurance" class="form-control" id="insurance" @change="showDiscount = true">
                                    <option value=""></option>
                                    <option :value="ins" v-for="ins in insurances">{{ins.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5">
                    <div class="panel panel-primary text-center" v-if="invoice.client.name">
                        <div class="panel-heading">
                            <h3><i class="fas fa-calculator"></i> New Invoice: </h3>
                        </div>
                        <div class="panel-body">
                            <p><strong>{{invoice.client.name}}</strong></p>
                            <p><strong>{{invoice.client.phone}}</strong></p>
                            <div v-if="invoice.items.length > 0">
                                <hr>
                                <p><strong>Items:</strong></p>
                                <ul v-for="item in invoice.items" class="text-left">
                                    <li>
                                        <p><span>{{item.model}}  {{item.quantity}} x ({{item.price}}) = </span> <strong>{{item.quantity * item.price}}</strong></p>
                                    </li>
                                </ul>
                                <hr>
                                <p><strong>Total: {{totalPrice}}</strong></p>
                                <div v-if="showDiscount">
                                    <p><strong>- Discount: {{invoice.insurance.discount}}</strong></p>
                                    <p><strong>Final price: {{finalPrice}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.js"></script>
    <script>
        class Item {
            constructor(id, model, desc, price, quantity) {
                this.id = id
                this.model = model
                this.desc = desc
                this.price = price
                this.quantity = quantity || 1
            }
        }
        class Client {
            constructor(name, phone) {
                this.name = name
                this.phone = phone
            }
        }
        class Insurance {
            constructor(id, name, discount) {
                this.id = id
                this.name = name
                this.discount = discount
            }
        }

        var app = new Vue({
            el: '#app',
            created(){
                //this.apploaded = true
                //this.fetchInsurances()
            },
            data(){
                return {
                    title: 'Create invoice',
                    newItem: new Item(),
                    insurances: [
                        new Insurance(1, 'half price', 50),
                        new Insurance(2, 'ten percent', 10)
                    ],
                    invoice: {
                        date: '',
                        client: new Client(),
                        items: [],
                        insurance: new Insurance()
                    },
                    totalPrice: 0,
                    showDiscount: false,
//                    apploaded: false,
                    loading: false,
                    loadingSubmit: false
                }
            },
            methods: {
                addProd(){
                    this.invoice.items.unshift(this.newItem)
                    this.totalPrice += this.newItem.price * this.newItem.quantity
                    this.newItem = new Item()
                },
                requestItemByModel(){
                    this.loading = true
                    axios.post('https://jsonplaceholder.typicode.com/posts',  this.newItem.model)
//                    axios({
//                        method: 'post',
//                        url: '@Url.Action("GetItemByModel", "Invoices")',
//                        data: { "model": this.newItem.model },
//                        dataType: "json"
//                    })
                        .then((response) => {
                            console.log(response.data)
                            this.newItem.id = response.data.Id
                            this.newItem.desc = response.data.BrandName
                            this.newItem.price = response.data.Price
                            this.newItem.price = 333 ///////////////////////////////
                            this.$toastr.success('Item found + item title');
                            this.loading = false
                        })
                        .catch((error) => {
                            this.$toastr.error('Please try again later.', 'Error reaching the item!');
                            this.loading = false
                        })
                },
                onSubmit(){
                    this.loadingSubmit = true
                    axios.post('https://jsonplaceholder.typicode.com/posts', this.invoice)
                        .then((response) => {
                            console.log(response.data)
                            this.invoice = {
                                date: '',
                                client: new Client(),
                                items: [],
                                insurance: new Insurance()
                            }
                            this.totalPrice = 0
                            this.$toastr.success('Invoice was successfully created!');
                            this.loadingSubmit = false
                        })
                        .catch((error) => {
                            this.$toastr.error('Please try again later.', 'Error while creating the invoice!');
                            this.loadingSubmit = false
                        })
                },
                fetchInsurances(){
                    axios.post('https://jsonplaceholder.typicode.com/posts', this.invoice)
                        .then((response) => {
                        console.log(response.data)
                        this.insurances = response.data
//                        this.$toastr.success('insurances were fetched successfully!');
                    })
                    .catch((error) => {
                            this.$toastr.error('Please try again later.', 'Error while fetching the insurances!');
                    })
                }
            },
            computed: {
                finalPrice(){
                    return this.totalPrice - this.totalPrice * this.invoice.insurance.discount / 100
                }
            }
        })
    </script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>